
.wrapper {
    .percentTip{
        color: #fff;
        font-size: 2rem;
        position: absolute;
        right: 0;
        width: 45%;
        text-align: center;
    }
    .rail{
        position: absolute;
        left: 50%;
        width: 0;
        border-left: dashed .1rem #fff;
    }
    .slider{
        position: absolute;
        left: 50%;
        padding: .2rem;
        text-align: center;
        background-color: #fff;
        color: #FDA86C;
        border-radius: 1rem;
        font-size: .8rem;
    }
}
.levelList {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
}
.levelItem {
    composes: levelTips from '../common/css/common.css';
    opacity: .5;
}